*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.navbar-custom{
    background-image: url('./Photos/Main.png');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
  }
